<div class="container img-background">
  <div class="row justify-content-center align-items-center">
    <div class="col-xs-12 col-sm-8 col-md-6">
    <div>
      <h1>Livrez une Mamie pour Noël!</h1>
    </div>
      <%= simple_form_for(travel) do |f| %>

        <%-# ----------- Location form ----------- -%>
        <div>
          <div class="col-12">
            <%= f.input :departure_location, label: 'Lieu de départ', placeholder: 'Rechercher une adresse' %>
          </div>
          <div class="col-12">
            <%= f.input :arrival_location, label: "Lieu d'arrivée", placeholder: 'Rechercher une adresse' %>
          </div>
        </div>
        <%-# ----------- Date form ----------- -%>
        <div class="col-12">
          <%= f.input :departure_date, label: "Date (aaaa/mm/jj)" %>
          <% # = f.input :departure_hour, label: "Heure (hh:mm)" %>
        </div>
        <%-# ----------- Passenger form ----------- -%>
        <div class="col-12">
          <%= f.input :number_passenger, label: "Passager" %>
        </div>
        <div class="col-12 mt-4 d-flex justify-content-between align-items-center">
        <%= f.button :submit, 'Créer!', class: 'btn btn-danger' %>
      <% end %>
        <%= link_to "Retour vers mes trajets", travels_path, :class => "link-to" %>
        </div>
    </div>
  </div>
</div>
