<div class="banner">
  <div class="search-bar">
    <%= form_tag travels_path, class:"form-search-bar", method: :get do %>
      <%= text_field_tag :departure,
        params[:departure],
        class: "form-control", id:"form-depart",
        placeholder: "Départ"
      %>
      <%= text_field_tag :arrival,
        params[:arrival],
        class: "form-control", id:"form-destination",
        placeholder: "Destination"
      %>
      <%= date_field_tag :date,
        params[:date],
        class: "form-control", id:"form-date",
        placeholder: "Aujourd'hui"
      %>
      <%= number_field_tag :number,
        params[:number], min: 1,
        class: "form-control", id:"form-number",
        placeholder: "1 passager"
      %>
      <%= submit_tag "", class: "btn btn-danger", id:'home-go' %>
    <% end %>
  </div>
</div>

<div class="container-home mt-3">
  <div class="container-text-content">
    <div class="text-content text-center">
      <%= image_tag 'picto-home-1.png', height:'60px' %>
      <h3>Faites venir vos proches à vos côtés</h3>
      <p>Où que vous êtes, faites venir vos proches qui ne peuvent se déplacer, en voiture spécialisée ou en covoiturage.Trouvez le trajet idéal parmi notre large choix de destinations à petits prix.</p>
    </div>
    <div class="text-content text-center">
      <%= image_tag 'picto-home-2.png', height:'60px' %>
      <h3>Ils voyagent en toute confiance</h3>
      <p>Nous prenons le temps qu’il faut pour connaître nos membres et nos compagnies de transports partenaires. Nous vérifions les avis, les profils et les pièces d’identité. Vous savez donc avec qui vos proches vont voyager pour réserver en toute confiance sur notre plateforme sécurisée.</p>
    </div>
    <div class="text-content text-center">
      <%= image_tag 'picto-home-3.png', height:'60px' %>
      <h3>Recherchez, cliquez et réservez !</h3>
      <p>Réserver un trajet n’a jamais été aussi facile ! Simple d’utilisation et dotée de technologies performantes, notre appli vous permet de réserver en quelques minutes.</p>
    </div>
  </div>
</div>
